.project {
  background: var(--gray);
  aspect-ratio: 3/2;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.project::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(var(--clr-black), 0.2);
  transition: background ease-out 0.3s;
  z-index: 1;
}

.project:hover::before {
  background: rgb(var(--clr-black), 0.45);
}

.project__title {
  position: absolute;
  z-index: 3;
  top: 8%;
  left: 8%;
}

.ff-container {
  height: 100% !important;
}

.ff-inactive {
  width: 124% !important;
  transform: translateX(-9.66%);
}

.ff-container.ff-responsive .ff-image,
.ff-container.ff-responsive .ff-canvas {
  height: 100% !important;
}

.project__thumbnail {
  object-fit: cover;
  object-fit: center;
  height: 100%;
}

@media (min-width: 35em) {
  .project__tag-row {
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    bottom: 8%;
    left: 8%;
  }
}

.tag {
  padding: 0.25em 0.625em;
  border-radius: 0.5em;
}

.project__tag-row.flex,
.modal__tag-row.flex {
  --flex-gap: 0.5rem;
}

.overlay-msg--work {
  top: 75%;
  left: -2%;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  transition: transform ease-in-out 0.3s;
  z-index: 10;

  padding: 3rem;
}

.modal[data-visible="true"] {
  transform: translateX(-100%);
  box-shadow: 0 -1rem 1rem 0.1rem rgb(var(--clr-black), 0.12);
}

.modal__overlay {
  opacity: 0;
  height: 0;
  position: fixed;
  inset: 0;
  z-index: 9;
  transition: opacity ease-in 0.2s;
}

@media (min-width: 45em) {
  .modal {
    right: -45%;
    width: 45%;
  }

  .modal__overlay.active {
    opacity: 1;
    height: 100%;
  }
}

.modal__title::after {
  content: ".";
}

.modal__tags {
  --flex-gap: 0.5em;
  flex-direction: column;
}

.modal__btn--close {
  cursor: pointer;
  transition: color ease-in 0.2s;
}

.modal__btn--close:hover {
  color: hsl(var(--clr-purple));
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: scale(1.3) rotate(270deg) translate(30%, -65%);
  }
  to {
    transform: scale(1) rotate(270deg) translate(30%, -65%);
    opacity: 1;
  }
}

@media (max-width: 50em) {
  .grid {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
